.container {
    background-color: black;
}

header a.nav-link.active {
    color: red;
}

header a {
    letter-spacing: 7px;
}

.hero h1 {
    letter-spacing: 30px;
} 

.hero h4 {
    letter-spacing: 15px;
} 


header a.nav-link {
    color: white;
}

.hero {
    background: url(../images/head_bg.jpg);
    height: 100vh;
    background-size: cover;
    padding-top: 120px;
}